@import url('bootstrap');
@import url('bootstrap-icons');

.card-img-top {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.card-title {
    height: 120px;
}

footer {
    background-color: rgb(255, 132, 153);
    color: white;
    height: 300px;
}